<template name="Home">
<div class="jumbotron">
  <h1>This is proof Jacob Sarabia did this and basically understood what he did...with lots of help.</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
</template>